{% extends 'index.html' %}
{% block title %}Изменение РЛС{% endblock %}
{% block content %}
<div id="add_rls">
      <a href="{% url 'ric:add_rls' %}" class="btn add_rls">Добавить РЛС</a>
</div>

<div id="add_new_rls">
  <h1>Изменить РЛС</h1>
   <p>Заполните форму ниже:</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ edit_form.title }}<br>
    {{ edit_form.body }}<br>
    {{ edit_form.image }}<br>
    {% csrf_token %}
    <p style="margin-top: 10px;" ><input type="submit" value="Изменить РЛС" class="btn btn-secondary"></p>
      <a href="{%url 'ric:list_radar'%}" class="btn btn-primary">Назад</a>

  </form>
</div>
{% endblock %}