{% extends 'index.html' %}
{% block title %}Список РЛС{% endblock %}
{% block content %}

<div>
    <a href="{% url 'ric:add_rls' %}" class="btn btn-outline-success"
       style="position:fixed; right:50px; bottom:50px;">Добавить РЛС</a>
</div>


<div class="row row-cols-2 row-cols-md-3 g-4" style="margin-top: 10px;">
    {% for rls in all_radar %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ rls.image.url }}" class="card-img-top" alt="{{ rls.title }}" width="320" height="240">
      <div class="card-body">
        <h5 class="card-title">{{ rls.title }}</h5>
        <p class="card-text">{{ rls.body | truncatechars:'30' }}</p>
          <a href="{{rls.get_absolute_url}}" class="btn btn-primary" style="width: 150px; margin:0 auto;">{{ rls.title }}</a>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

{% endblock %}

