{% extends 'index.html' %}
{% block title %}Список РЛС{% endblock %}
{% block content %}
<div id="add_rls">
    <a  href="{% url 'ric:add_rls' %}" class="btn add_rls">Добавить РЛС</a>
</div>

    {% for rls in all_radar %}
        <div class="card" style="width: 18rem;">
          <img src="{{ rls.image.url }}" class="card-img-top" alt="{{ rls.title }}" width="320" height="240">
          <div class="card-body">
            <h5 class="card-title">{{ rls.title }}</h5>
            <p class="card-text">{{ rls.body | truncatechars:'30' }}</p>
            <a href="{{rls.get_absolute_url}}" class="btn btn-primary">{{ rls.title }}</a>
          </div>
        </div>
    {% endfor %}

{% endblock %}

