{% extends 'index.html' %}
{% block title %}{{ rls.title }}{% endblock %}
{% block content %}

<div class="card mb-0" style="margin:0 auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ rls.image.url }}" class="card-img-top" alt="{{ rls.title }}" title="{{ rls.title }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ rls.title }}</h5>
        <p class="card-text">{{ rls.body  }}</p>
        <p class="card-text"><small class="text-muted">{{ rls.data  }}</small></p>
          <a href="{%url 'ric:edit_rls' rls.pk %}" class="btn btn-primary">Изменить</a>
          <a href="{%url 'ric:list_radar'%}" class="btn btn-primary">Назад</a>
          <a href="{%url 'ric:del_rls' rls.pk %}" class="btn btn-danger"
             style="margin-left:400px;">Удалить {{ rls.title }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}